h1{
  text-align: center;
  color:rgb(255, 209, 179);
  font-size:50px;
}

#primera{
  text-align:justify;
  color:rgb(179, 100, 179);
  font-size: 25px;
  line-height: 1.5em;
  margin:25px;
}

.parrafo{
  text-align: center;
  color:#E19510;
  font-size:28px;
  line-height: 1.6em;
  margin:10px 30px;
}
